body {
  background-color: white;
  font-family: digital-7;
  color: white;
}

.gif {
  width: 411px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 40px 40px;
}

.gif-on {
  display: none;
}

.playing .gif-on {
  display: block;
}

.playing .gif-off {
  display: none;
}

#cover {
  width: 50%;
  height: 50%;
  border-radius: 10px;
}

#screen {
  min-width: 412px;
  min-height: 917px;
  flex-shrink: 0;
  background: linear-gradient(0deg, #04041a 0%, #04041a 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cacher le bouton pause en mode PAUSE */
#pause-icon {
  display: none;
}

/* Afficher le bouton pause en mode PLAY */
.playing #pause-icon {
  display: inline;
}

/* Cacher le bouton play en mode PLAY */
.playing #play-icon {
  display: none;
}

/* Changer le style du bouton like */
#like.liked {
  background-color: green;
}

/* Sliders */
input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 200px;
  height: 7px;
  border-radius: 5px;
  background: lightgray;
  background-image: linear-gradient(#ff4500, #fe6a35);
  background-size: var(--progress-percentage) 100%;
  background-repeat: no-repeat;
}

/* Le curseur du slider */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #f84e11;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

/* Le curseur du slider au survol */
input[type="range"]::-webkit-slider-thumb:hover {
  background: rebeccapurple;
}

/* La zone du slider */
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.musique {
  display: flex;
  gap: 20px;
  align-items: end;
  justify-content: center;
}

.titreartiste {
  width: 276.953px;
  height: 129px;
  flex-shrink: 0;
  border-radius: 800px 800px 5px 5px;
  background: #000;
  box-shadow: 0px 4px 7.8px 12px rgba(93, 93, 93, 0.25) inset;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 0px;
  overflow: hidden;
}

#track-title {
  text-align: left;
  white-space: nowrap;
  display: inline-block;
  width: max-content; /* Le texte s'adapte à la taille de son contenu */
  animation: marquee 8s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(
      135%
    ); /* Le texte commence à droite, hors de la vue */
  }
  100% {
    transform: translateX(
      -135%
    ); /* Le texte se déplace à gauche et disparaît complètement */
  }
}

#track-artist {
  margin-top: 10px;
}
